################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mjos.English.API/bin/Debug/net7.0
/Mjos.English.API/obj
/.vs/Mjos.English
